In [2]:
1+1

2

In [3]:
a=[1,2,3,4,5]

合計/データ数

合計＝順番に足した結果

In [4]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [6]:
a=[1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

リストaの各要素をpと呼び　pをprintする

繰り返しの範囲はインデントによって変わる。

In [8]:
list_tohoku=[5349,5478,5344,4644,4968,6259]

for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [9]:
a

[1, 2, 3, 4, 5]

In [12]:
s=0

for x in a:
    s=s+x

s/5

3.0

平均の求め方をパソコンに教えた。

In [18]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku+=val

avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [19]:
list_shikoku = [3148, 2991, 2966, 2457]

In [20]:
(3148+2991+2966+2457)/4

2890.5

In [22]:
s=0.0
for val in list_tohoku:
    s+=val
s/=len(list_tohoku)

print(avg_tohoku)

5340.333333333333

In [23]:
(3148+2991+2966+2457)/4

2890.5

In [29]:
list_shikoku=[3148,2991,2966,2457]

s=0
for x in list_shikoku:
    s+=x
    
s/len(list_shikoku)

2890.5

In [25]:
from statistics import *

In [26]:
mean(list_shikoku)

2890.5

In [27]:
mean([1,2,3,4,5])

3

meanは平均を求める。

In [34]:
dic = {'A':100,'B':20, 'C':3000}

In [35]:
dic['A']

100

In [41]:
for key in dic:
    print(key)

A
B
C

In [42]:
for key in dict_tohoku:
    print(dict_tohoku[key])

NameError: name 'dic_tohoku' is not defined

In [43]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [48]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]

s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1.[5,4,3,2]の合計
2.{'A':10,'B'100,'C':1000}の値の平均
3.{10:'A',100:'B',1000:'C'}のキーの平均

In [49]:
a=[5,4,3,2]
s=0

for x in a:
    s += x
    
s/len(a)

3.5

In [50]:
mean(a)

3.5

In [51]:
a={'A':10,'B':100,'C':1000}
s=0

for x in a:
    s += a[x]
    
s/len(a)

370.0

In [53]:
mean(a.values())問９９ 問１

370

valuesは値の部分だけ取り出せる。

In [60]:
s=0

for x in a.values():
    s+=x
    
s/len a

SyntaxError: invalid syntax (<ipython-input-60-4a978ea6b5f4>, line 6)